[Unit]
Description=Rotary Phone Audio Guestbook Web Server
After=network.target

[Service]
User=admin
Group=admin
WorkingDirectory=/home/admin/rotary-phone-audio-guestbook
ExecStart=/home/admin/rotary-phone-audio-guestbook/start_server.sh
Restart=always

[Install]
WantedBy=multi-user.target
