[Unit]
Description=Rotary Phone Guest Book Project
After=multi-user.target

[Service]
WorkingDirectory=/home/admin/rotary-phone-audio-guestbook
Type=simple
Restart=always
ExecStart=/usr/bin/python3 src/audioGuestBook.py

[Install]
WantedBy=multi-user.target